/*css variables*/

:root {
    --primary-color: #ADBCA5;
    --secondary-color: #544B3D;
    --font-size: 16px;
    --font-family: 'Rethink sans, sans-serif';
    --padding: 10px;
    --margin: 10px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 80px;
    margin: var(--margin);
}

h1 {
    color: var(--secondary-color);
}

nav {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: var(--padding);
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: var(--padding);
}

#custom-contact {
    background-color: #E8B9AB;
    color: #130a48; 
    padding: var(--padding);
    margin: var(--margin);
}

.custom-button {
    background-color: #130a48;
    color: var(--primary-color);
}
.logo {
    margin: 0 auto;
    width: 10%;
}
